
L1/L1.odt
L2/Cycle graph.png
L2/Linear graph.png
L2/Multi-graph.png
L2/TSL2.html
L2/TSL2.ipynb
L3/data.txt
L3/data1.txt
L3/out.txt
L3/TSL3.pdf
L3/TSL3Z1.ipynb
L3/TSL3Z1.pdf
L3/TSL3Z2.ipynb
L3/TSL3Z2.pdf
